.listSelector{
    font-size: 14px;
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.buttonSelectorList{
    font-size: 14px;
}
@media screen and (max-width:400px){
    .buttonSelectorList{font-size: 12px;}
}
@media screen and (max-width:350px){
}
@media screen and (max-width: 300px) {
    .buttonSelectorList{font-size: 11px;}
}