@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
  }
body
{
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
    background: linear-gradient(#2e6781, #368cb4);
    background-attachment:fixed;
    background-position:bottom;
    background-size:contain;
    background-repeat: no-repeat;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 4px;
}
input[type=radio]{
    width: 0px;
    height: 0px;
}
input[type=text]{
    border: 1px solid #64b5f6;
    border-bottom: 3px solid #42a5f5;
    border-radius: 5px ;
    background-color:white;
    min-width: unset;
    height: 70px;
    outline-color: transparent;
    text-decoration: none;
    align-self:center;
    margin: 5px auto;
    overflow-y: visible;
    overflow-x: scroll;
}input[type=number]{
    border: 1px solid #64b5f6;
    border-bottom: 3px solid #42a5f5;
    border-radius: 5px ;
    background-color:white;
    min-width: unset;
    height: 30px;
    outline-color: transparent;
    text-decoration: none;
    align-self:center;
    margin: 5px auto;
    overflow-y: visible;
    overflow-x: scroll;
}
::placeholder{
    font-size: 10px;
    align-content: top;
    text-align: bottom;
}

.mainBox{
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 700px;
    min-width: 200px;
    min-height: 550px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
}
.header{
    border-bottom:2px solid #42a5f5;
    width:96%;
    margin: auto;
    align-content: center;
    padding: 10px 0px 10px 0px;
}
.summary{
    margin: auto;
    width: 90%;
    background-color: #bbdefb7e;
}
.headerSummary{
    background-color: #1e88e5;
    width:100%;
    align-content: center;
    text-align: center;
    padding:8px 0px 8px 0px;
    color: white;
    font-size: 14px;
}
.summaryOp{
    background-color: #b3d6f3;
    height:80px;
    border-bottom: 2px solid #90caf9;
}
.headerOp{
    background-color: #42a5f5;
    color:white;
}
.hintText{
    width:0%; 
    height:auto; 
    overflow:hidden; 
    padding: 0px;
}
.boxOption{
    width: 100%;
    min-width: 60px;
    height:50px;
    color: white;
    border-radius: 4px;
    border-color: unset;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin: 5px 0px 5px 0px;
}
.buttonInterspaced{
    margin: 0px 4px 0px 4px;
}
.bottomBox{
    border-top:2px solid #42a5f5;
    left:2%;
    width:96%;
    margin: auto;
    align-content: center;
    position: absolute;
    bottom:10px;
    padding-top:10px;

}
.col-sm-3{
    padding-right: 6px;
    padding-left:6px;
}

@media screen and (max-width: 400px) {
    img{max-width:60px; max-height:60px;}
  }
  @media screen and (min-width: 575px) {
    .col-sm-8{padding-right:0px;}
    .col-sm-4{padding-left:0px;}
  }
  @media screen and (max-width: 350px) {
    body{font-size: 8px;}
  }
  
  @media screen and (max-width: 770px) { /*Reducir la cantidad de columnas cuando el tama単o de la pantalla es menor a 770px*/
    .col-sm-3{width:33.3333333333%}
  }

  @media screen and (max-width: 340px) { /*Reducir la cantidad de columnas cuando el tama単o de la pantalla es menor a 770px*/
    .col-sm-3{width:50%}
  }

  @media screen and (max-width: 420px) {/*Reducir el tama単o de la fuente cuando el tama単o de l*/
    body{font-size: 10px;}
  }




