@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
  }
body
{
    /*background-image: url(../svg/backgroud.svg);*/
    
    font-family: 'Montserrat';
    font-size: large;
    color: black;
    background: linear-gradient(#2e6781, #368cb4);
    background-attachment:fixed;
    background-position:bottom;
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 14px;
}
img{
    align-self: center;
    float:unset;
    margin: auto;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
hr{
    color:#64b5f6;
    opacity:unset;
    margin: 10px auto;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.title{
    background-attachment:inherit;
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin:auto;
    background-image: url(../svg/Title.png);
    height: 80px;
    width: 90%;
    margin-top:40px;
}
.formBox{
    position: relative;
    margin: auto;
    align-content: center;
    text-align: center;
    max-width: 320px;
    min-width: 240px;
    height:500px;
    border-radius: 3px;
    background-color: rgba(255, 255, 240, 0.8);
}
input{
    border: 1px solid #64b5f6;
    border-bottom: 2px solid #42a5f5;
    border-radius: 5px ;
    background-color:white;
    width: 80%;
    min-width: unset;
    height: 28px;
    outline-color: transparent;
    text-decoration: none;
    font-size: inherit;
    align-self:center;
    margin: 5px auto;
}
input[type=submit]{
    background-color: #2979ff;
    font-size: inherit;
    color:white;
    border:none;
    width:60%;
}
::placeholder{
    font-size: 11px;
    align-content: top;
}
input[type=checkbox]{
    width:10px;
    height:10px;
}
.bottomBox{
    position: absolute;
    bottom:10px;
    width:100%;

}
@media screen and (max-height:560px){
    body{padding-top: 20px; font-size: 11px;}
    img{margin-bottom: 10px;}
    .formBox{max-height:430px;}
    .title{margin-top: 20px;}
    input{margin: 2px auto;}
}
@media screen and (max-height:500px){
    .formBox{max-height:400px;}
    .title{margin-top: 10px;}
}



