@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
  }
body
{
    /*background-image: url(../svg/backgroud.svg);*/
    
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
    background: linear-gradient(#2e6781, #368cb4);;
    background-attachment:fixed;
    background-position:bottom;
    background-size:contain;
    background-repeat: no-repeat;
    
}hr{
    width: 98%;
    color:#64b5f6;
    opacity:unset;
    margin: 10px auto;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.infoContainer{
    background-color: rgba(255,255,255,0.9);
    color: black;
    min-height: 480px;
    max-height: fit-content;
    min-width: 240px;
    position: relative;
    margin:auto;
    font-size: 14px;
}
.header{
    position: relative;
    background-attachment: scroll;
    background-position: left 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 200px;
    background-color: black;
}
.header-content{
    width: 100%;
    position: absolute;
    bottom: 10%;
}
.header-content-title{
    color: white;
    margin-left:3%;
    font-weight: 900;
    font-size: 45px;
}
.description{
    padding: 2%;
    padding-bottom: 0.5%;
}
.players{
    max-height:281px;
    margin: 10px auto;
    background-color: #1a90e5;
    padding: 0px 3px 0px 3px;
    border-bottom: 8px solid #1a90e5;
    color:white;
    overflow-y:auto;
}
.plTitle{
    position: sticky;
    top:0px;
    height: 40px;
    width:100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    padding-left: 2%;
    margin-bottom: 5px;
}
.pl{
    background-color:#4db3e5;
    border-bottom:2px solid #7dcce8;
    height:25px;
    width: 97%;
    margin: 0px auto;
    align-items: center;
    padding-left: 2%;
}
#mapButton{
    width: 60px;
    height: 60px;
    display:inline-block;
    font-size: 11px;
}
@media screen and (max-width:500px){
    .header-content-title{font-size: 40px;}
    .infoContainer{font-size: 12px;}
}
@media screen and (max-width:400px){
    .header{max-height:170px;}
}
@media screen and (max-width:350px){
    .header{max-height:130px}
    .header-content-title{font-size: 28px;}
    #mapButton{width:55px; height:55px;}
}
@media screen and (max-height:400px){
    .header{height: 130px;}
    .header-content-title{font-size:30px;}
}