body
{
    /*background-image: url(../svg/backgroud.svg);*/
    
    font-family: 'Montserrat';
    font-size: 13px;
    color: black;
    background: white;
    background-attachment:fixed;
    background-position:bottom;
    background-size:contain;
    background-repeat: no-repeat;
}
.headerList{/*La cabeza de la pagina*/
    font-size:40px;
    font-weight: 1000;
    min-width:200px;
    border-bottom: 2px solid #42a5f5;
}

.element{/*El cuadro donde se meten los componentes de las listas*/
    position: relative;
    background-color: black;
    background-attachment: scroll;
    background-position: left 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 90%;
    min-width:180px;
    height:150px;
    margin:auto;
    color:white;
}
.element-title{
    font-size: medium;
    font-weight: 800;
}
.element-content{
    margin:8px;
    position: absolute;
    bottom: 0px;
    
}
@media screen and (max-width:350px){
    .element{height:110px;}
}
@media screen and (max-width: 300px) {
    .headerList{font-size:25px;}
    body{font-size:11px;}
    .element{height: 90px;}
}