@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
  }
body{
    font-family: "Montserrat";
}
.navbar{
    left: 0px;
    padding:0px;
    padding-top:unset;
    padding-bottom: unset;
    background-color: #1e88e5;
    height:40px;
    width:120px;
    border-bottom-right-radius: 10px;
}
.menuico{
    padding-right: 12px;
    width: auto;
    height: 20px;
    align-self: center;
    float: left;
    margin: 2px 0px;
}
.mainTitle{
    position: sticky;
    top: 0px;
    align-self: center;
    color: white;
    font-size: 18px;
}