@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
  }
body{
  font-family: 'Montserrat';
  font-size: 14px;
  color: white;
}
.botonBusqueda{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 4;
    height: 45px;
    width: 45px;
    background-color: #1e88e5;
    background-image: url("../png/menuIcons/Busqueda.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.mapBox{
    position: absolute;
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
}
.cajaFiltrosBusqueda{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  padding-top:0px; /*55px para abrir*/
  width: 100%;
  color:white;
  font-size: 14px;
  min-height: 0px; /*fit-content para abrir*/
  max-height: 0px; /*100% para abrir*/
  overflow-y: scroll;
  overflow-wrap: break-word;
  transition: 0.3s;
}
.boxOption{
  white-space: normal;
  width: 100%;
  min-width: 60px;
  /*height:40px;*/
  color: white;
  border-radius: 4px;
  border-color: unset;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin: 5px 0px 5px 0px;
  font-size: inherit;
}

#filtro1{display: block;}
#filtro1_1{display: none;} 
#filtro1_2{display: none;} 
#filtro1_1_1{display: none;} 
#filtro1_1_2{display: none;} 
#filtro1_1_1_1{display: none;} 
#filtro1_1_1_2{display: none;} 

@media screen and (max-width:350px){
  .botonBusqueda{background-size: 60%;}
}
@media screen and (max-width:500px){
  .cajaFiltrosBusqueda{font-size: 13px;}
}
@media screen and (max-width:550px){
  .cajaFiltrosBusqueda{font-size: 12px;}
}
@media screen and (max-height: 450px) {
    .botonBusqueda{height:40px; width: 40px;}
  }
@media screen and (max-height:300px){
    .botonBusqueda{height:36px; width:36px}
  }