@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf");
  }
body
{
    /*background-image: url(../svg/backgroud.svg);*/
    
    font-family: 'Montserrat';
    font-size: large;
    color: black;
    background: linear-gradient(#2e6781, #368cb4);
    background-attachment:fixed;
    background-position:bottom;
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 11px;
}
img{
    align-self: center;
    float:unset;
    margin: auto;
    margin-bottom: 20px;
}
.title{
    background-attachment:inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin:auto;
    background-image: url(../svg/Title.png);
    height: 70px;
    width: 80%;
    margin-top:40px;
}
.formBox{
    position: relative;
    margin: auto;
    align-content: center;
    text-align: center;
    max-width: 300px;
    min-width: 240px;
    height:500px;
    border-radius: 3px;
    background-color: rgba(255, 255, 240, 0.8);
}
input{
    border: 1px solid #64b5f6;
    border-bottom: 3px solid #42a5f5;
    border-radius: 5px ;
    background-color:white;
    width: 80%;
    min-width: unset;
    height: 26px;
    outline-color: transparent;
    text-decoration: none;
    font-size: 14px;
    align-self:center;
    margin: 5px auto;
}
input[type=submit]{
    background-color: #2979ff;
    color:white;
    border:none;
    width:60%;
}
::placeholder{
    font-size: 10px;
    align-content: top;
}
input[type=checkbox]{
    width:10px;
    height:10px;
}
.bottomBox{
    position: absolute;
    bottom:10px;
    width:100%;

}




